.div1{

    background:white;
}
.a{
    background-color:white;width:62.5px;  height:62.5px;float:left;
}
.b{
    background-color:black;width:62.5px;  height:62.5px;float:left;
}
.c{
    clear:both;
}
.parent{
    height:500px;
    width:500px;
    margin:5px;
    border:5px solid #300;
}